.App {
  text-align: center;
  background: #F3F3F3;
}

h1{
  color:#0C0A0B;
}

.fixedHeight{
  /*height:100vh;*/
}

.title{
  color: #0C0A0B;
  padding: 20px;
  margin: 10px;
}

.example{
  height: 200px;
  width: 300px;
  margin-top: 30px;
}
.projectRowHeight{
  min-height: 350px;
  margin-top: 20px;
}

.spacing{
  margin: 40px 0;
}
